@charset "UTF-8";

body{
  background-color:#bbf1ef;
}

h1{
  font-size: 18px;
  border:solid;
  border-radius: 30px;
  padding: 6px;
  margin:20px auto;
  width:300px;
   text-align: center;
}
ul {
  background-color: #ff9a9e;
  display: block;
  padding: 20px 0;
  border-radius: 4px;
  color: #ffffff;
  font-weight: bold;
}